<div class="container-fluid">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Online Accountant</h1>
      <div style="margin-left: auto;">
        <ul style="display: flex;">
          <li>
            <a mat-icon-button>
              <mat-icon matTooltip="Help">help_outline</mat-icon>
            </a>
          </li>
          <li>
            <a mat-button>
              <mat-icon matTooltip= "User information">person_outline</mat-icon>
            </a>
          </li>
          <li>
            <a mat-icon-button>
              <mat-icon matTooltip="Settings">settings</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


































