<div class="d-flex flex-row bd-highlight mb-3" style="padding-top: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card text-black mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <img src="../../../assets/invoice2.jpg" class="img-fluid" style="width: auto;" alt="">
    </div>
    <div class="card-header">Invoices</div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card text-black mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <img src="../../../assets/expenses.png" class="img-fluid" style="width: auto;" alt="">
    </div>
    <div class="card-header">Expenses</div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card text-black mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <img src="../../../assets/bnk.png" class="img-fluid" style="width: auto;" alt="">
    </div>
    <div class="card-header">Banking</div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card text-black mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <img src="../../../assets/cntct2.png" class="img-fluid" style="width: auto;" alt="">
    </div>
    <div class="card-header">Contacts</div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card text-black mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <img src="../../../assets/payroll.jpg" class="img-fluid" style="width: auto;" alt="">
    </div>
    <div class="card-header">Payroll</div>
  </div>
  <!-- <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Light card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div> -->

  <!-- <div class="p-2 bd-highlight"></div> -->
  <!-- <div class="p-2 bd-highlight">Flex item 2</div>
  <div class="p-2 bd-highlight">Flex item 3</div> -->
</div>
<mat-divider></mat-divider>
<div class="container" style="display: flex;">
  <div class="col-md-4">
    <h1>Total Earning this month</h1><br>
    {{70299.40 | currency: "USD"}}
      <!-- <h2>{{earned}}</h2> -->
  </div>
  <div class="col-md-4">
    <h1>Outstanding</h1>
    {{19972.15 | currency: "USD"}}
  </div>
  <div class="col-md-4">
    <h1>Due</h1>
    {{6000 | currency: "USD"}}

  </div>
</div>
    <div>
      <app-widget-area></app-widget-area>
      <app-widget-pie></app-widget-pie><br>
    </div>
<mat-divider></mat-divider>
<div class="col-md-12" style="display: flex; padding-top: 50px;">
  <div class="col-md-4">
    <table style="text-align: center;" class="table table-bordered" >
          <thead>
            <tr>
              <th colspan="2">Top Custmers</th>
            </tr>
            <tr>
              <th scope="col">Customer Name</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let topCustomer of topCustomers; let i = index">
              <td *ngIf="i<5" >{{topCustomer.name}}</td>
              <td *ngIf="i<5">$</td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="col-md-8" style="float: right;">
      <table style="text-align: center;" class="table table-bordered" >
        <thead>
          <tr>
            <th colspan="3">Latest invoices</th>
          </tr>
          <tr>
            <!-- <th scope="col">Top Customers</th> -->
            <th scope="col">Customer</th>
            <th scope="col">Payment</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices ">
            <!-- <th scope="row">1</th> -->
            <td>{{invoice.name}}</td>
            <td>{{invoice.amount}}</td>
            <td [ngStyle]="{'color':invoice.status==='pending' ? 'orange' : invoice.status==='failed'? 'red' : 'green'}">{{invoice.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
